<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% if not logged_in[0] %}
        <title>Personal Journal</title>
        {% else %}
        <title>{{ logged_in[1] }}'s Journal</title>
        {% endif %}
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='stylesheet.css') }}"
        />
        <link
            rel="icon"
            href="{{ url_for('static', filename='images/icon.png') }}"
        />
    </head>
    <body>
        <header>
            {% if not logged_in[0] %}
            <h1>Personal Journal</h1>
            {% else %}
            <h1>{{ logged_in[1] }}'s Journal</h1>
            {% endif %} {% if not logged_in[0] %}
            <input
                type="button"
                value="Login"
                onclick="window.location.href = '/user/login'"
            />
            <input
                type="button"
                value="Register"
                onclick="window.location.href = '/user/register'"
            />
            {% else %}
            <input
                type="button"
                value="New"
                onclick="window.location.href = '/pages/new'"
            />
            <input
                type="button"
                value="Search"
                onclick="window.location.href = '/pages/search'"
            />
            &ensp; &ensp; &ensp;
            <input
                type="button"
                value="Profile"
                onclick="window.location.href = '/user/profile'"
            />
            <input
                type="button"
                value="Logout"
                onclick="window.location.href = '/user/logout'"
            />
            {% endif %}
        </header>
        <main>{% block main %} {% endblock %}</main>
    </body>
</html>
